@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom globals */
* {
  cursor: none !important;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0f172a; /* slate-900 */
}

@layer utilities {
  .animate-gradient {
    background-size: 300%;
    animation: animatedgradient 12s ease infinite alternate;
  }
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

